html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face {
	font-family: "Open Sans";
	src: url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");
  }
  

body {
	line-height: 1;
	font-family: "Open Sans", serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.section1 {
    color: white;
    background-image: url('/images/landscape.png');
background-size: cover;
    background-repeat: no-repeat;
height: 900px;
    
}

#iphone {

    min-width: 70%;


}

.iphone {

	padding-top : 100px;
	height: auto;
	position:relative;
	vertical-align: middle;
    border-style: none;
}

.logoh {

    display: inline;
	margin-left : 50px;
}

.headertext {

	padding :15%;
}

.headertext > h1{
	width: 100%;
font-size: 50px;



}
.headertext > p{
font-size: 17px;
line-height: 2;



}

.title {

	margin : 10px;
}

.section2 {
line-height: 2;
	padding: 4% 20%;
}

h2 {
	font-size: 40px;
	font-weight: lighter;

}
h3 {
	font-size: 30px;
	font-weight: lighter;
	margin-bottom: 30px;

}

h4 {

	font-size: 15px;
font-weight: bold;
margin-bottom: 20px;;

}


#description  {
color: white;
	padding-left: 20%;
}

#featured_content {

	padding-left: 20%;
	padding-right: 15%;
	margin-top : 80px; 
}

div.descriptioncontent > * {
	height: 400px;
	padding: 40px;
}

div.descriptioncontent > div > a {
color: white;
text-decoration: none;
font-weight: bold;
}

.description1 {
	background-color: #f5989d;
}
.description2 {
	background-color: #615f7d;
}

.description3 {
	background: url('/images/Layer\ 6.png');
	background-repeat: no-repeat;
	background-size: cover;
}


.description4 {
	background-color: #bd8cbf;
}


.description5 {
		background: url('/images/Layer\ 5.png');
		background-repeat: no-repeat;
		background-size: cover;
}

.description6 {
		background-color:#82ca9c;
}
.description7 {
	background: url('/images/Layer\ 14.png');
		background-repeat: no-repeat;
		background-size: cover;
}



.featured > div {

padding : 50px;
}

#big_picture
{
	width : 100%;
height : 900px;
	background-image: url('/images/Layer\ 8.png');
	background-size: cover;
}


.pixel {
	height : 900px;
padding-left : 20%;
line-height: 30px;



}

.pixel > h2 {
	width : 60%;
	margin-bottom: 20px;
	line-height: 50px;
}
.pixel > p {
width : 60%;
	font-size : 16px;
}

#apropos {
padding-top : 50px;
	background-color: #82ca9c;
}



.aproposcol {

	margin: 200px;
}

.raisons {
line-height: 1.7;
	height : 400px;
	width : 30%;

}

.raisons > p {
	
	margin: 20px;
}