html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face {
	font-family: "Open Sans";
	src: url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");
  }

@font-face {
	font-family: "Merryweather";
	src: url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700");
  }
  

body {
	line-height: 1;
	font-family: "Open Sans", serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.section1 {
    color: white;
    background-image: url('/images/landscape.png');
	background-attachment: fixed;
	background-position: center;
background-size: cover;
    background-repeat: no-repeat;
height: 900px;
    
}

#titlerow {
height : 50px;
}

#iphone {

    min-width: 70%;
	animation: myAnim 2s ease 0s 1 normal forwards;

}

@keyframes myAnim {
	0% {
	  opacity: 0;
	  transform: translateX(250px);
	}
  
	100% {
	  opacity: 1;
	  transform: translateX(0);
	}
  }

.iphone {

	padding-top : 100px;
	height: auto;
	position:relative;
	vertical-align: middle;
    border-style: none;
}

#sitetitle {

	font-family: 'Merriweather';
	font-size: 20px;
}




.logo {
	padding-top : 30px;
	padding-left : 20%;



}

.logo > p {

	vertical-align: middle;

}




.section2 {
line-height: 2;
	padding: 4% 20%;

}



.section2 > div > div > p   {
color: #959595;
}

h2 {
	font-size: 40px;
	font-weight: lighter;

}
h3 {
	font-size: 30px;
	font-weight: lighter;
	margin-bottom: 30px;

}

h4 {

	font-size: 15px;
font-weight: bold;
margin-bottom: 20px;;

}


#description  {
color: white;
	padding-left: 20%;
	justify-content: end;
}

#featured_content {

	padding-left: 20%;
	padding-right: 15%;
	margin-top : 80px; 
}

div.descriptioncontent > * {
	height: 400px;
	padding: 40px;
}

div.descriptioncontent > div > a {
color: white;
text-decoration: none;
font-weight: bold;
}

.description1 {
	background-color: #f5989d;
}
.description2 {
	background-color: #615f7d;
}

.description3 {
	background: url('/images/Layer\ 6.png');
	background-repeat: no-repeat;
	background-size: cover;
}


.description4 {
	background-color: #bd8cbf;
}


.description5 {
		background: url('/images/Layer\ 5.png');
		background-repeat: no-repeat;
		background-size: cover;
}

.description6 {
		background-color:#82ca9c;
}
.description7 {
	background: url('/images/Layer\ 14.png');
		background-repeat: no-repeat;
		background-size: cover;
}



.featured > div, .featured2 > div {

padding : 50px;
}

.featured2 > div > p {

	color : #959595;
}


.section2 > div > div > p {

color : #959595;
}

#big_picture
{
	width : 100%;
height : 900px;
	background-image: url('/images/Layer\ 8.png');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


.pixel {
	height : 900px;
padding-left : 20%;
line-height: 30px;



}

.pixel > h1 {
	font-size: 55px;
	font-weight: lighter;
	margin-bottom: 20px;
	line-height: 50px;
}

.pixel > h2 {
	width : 60%;
	margin-bottom: 20px;
	line-height: 50px;
}
.pixel > p {
width : 60%;
	font-size : 16px;
}


#apropos {
	background-color: #82ca9c;
	padding-left: 20%;
	padding-right: 15%;
	padding-top : 80px;
	padding: 5% 15% 5%;
	line-height: 1.7;
}

.prices {
background-color: #f6f7fa;
	padding : 5% 20%;

}

.prices > div > div {
line-height: 1.7;
padding: 50px 50px;

}

#price2 {
	-webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.54); 
	box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.15);
	background-color: white;
}

.prices > div > div > p {
line-height: 1.7;
padding-bottom : 30px;
width: 90%;
color : #93a5b3;
font-size: 14px;
	}

	.prices > div > div > button {
		padding: 10px 20px;
		font-size: 11px;
		font-weight: bolder;
		background-color: #82ca9c;
		color: white;
			}



.fa-brands {
margin : 7% 1%;
	color: #c5c5c5;
}

#legacy{

width: 100px;
	background-color: #e1e1e1;
	border-radius: 7px;
	margin-bottom: 8px;
}

#legacy > p, #popular > p {
	color: white;
font-size: 12px;
font-weight: bold;
	padding: 5px 15px;
	text-align: center;
}

#popular {

	width: 150px;
		background-color: #bd8cbf;
		border-radius: 7px;
		margin-bottom: 5px;
	}

	.footer {

		background-color: #192431;
		
	}

	.footer > .row {

	padding: 150px;

	}

.footer > .row > div {

	padding : 0px 150px;
}

.footer > .row > div > p {
line-height: 1.7;

}

.input-group {

	width : 50%;
}

.emailinput {

	padding : 17px;

}

.emailbutton {
padding : 8px 25px;
font-size: 30px;
background-color: #82ca9c;
color: white;
}

#spam {
font-size: 12px;
	color: #57697f;
width : 45%
}

.footermenu > p {

	padding-bottom: 100px;
}

ul > li {
font-size: 13px;
line-height: 1.7;
}

@media (max-width: 992px) { 

	.section2 {
		line-height: 2;

		}

	.footer > .row {

		padding: 50px;
	
		}


	.footer > .row > div {

		padding : 0px 20px;
	}

	
.input-group {

	width : 100%;
}

#iphone {

	display : none;
}

#description {
	padding-left: 0%;
	justify-content: center;

}



 }